# Base URL for Backend API
NUXT_PUBLIC_API_BASE=https://api.netandsoft.com.ve/api

# Contact & Communication Settings
NUXT_PUBLIC_CONTACT_EMAIL=info@netandsoft.com.ve
NUXT_PUBLIC_CONTACT_PHONE=+58 414-478-5215
NUXT_PUBLIC_WHATSAPP_NUMBER=584144785215

# Location & Map Settings
NUXT_PUBLIC_LOCATION_ADDRESS=27 C. Muñoz, San Fernando de Apure 7001, Apure.
NUXT_PUBLIC_MAP_LATITUDE=7.8921750877067645
NUXT_PUBLIC_MAP_LONGITUDE=-67.46952135309213
# NUXT_PUBLIC_MAP_COORDINATES=7.8921750877067645,-67.46952135309213
NUXT_PUBLIC_MAP_ZOOM=13

# App Configuration
PORT=3000
NODE_ENV=development
